<!--File Name:bottom nav
    Name: Prajwal
    Student ID 301243308
    Date 20 November 2022-->
<footer>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <h6 class="display-8 navbar-text">&copy; Copyright 2022. All rights reserved to Prajwal</h6>
  </nav>
</footer>