<!--File Name:footer
    Name: Prajwal
    Student ID 301243308
    Date 20 November 2022-->

<script src = "/jquery/dist/jquery.min.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/Script/app.js"></script>    
  </body>
</html>