<!--File Name:projects.ejs
    Name: Prajwal
    Student ID 301243308
    Date 20 November 2022-->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header.ejs %>
</head>
<body>
    <header>
        <% include partials/main_nav.ejs %>
    </header>

<!--Main content-->
<main class="container">
<div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title%> page!</h1>
  
</main>


<br>

<center><img src="/images/Project1.jpg" width="500" height="280"><br><br></center>

</div id = "projectPara">
<center><strong>Always awake screen</strong><br></center>
<center><p class="parPro">Developed a software that lets you keep the sreen awake for ever in order to not get logged out of games requiring constant stimulus.</p></center>
<br>
<center>Role: Designing</center>
<br>
<center><img src="/images/Project2.jpg" width="500" height="280"><br><br></center>
<center><strong>PacMan Game</strong><br></center>
<center><p class="parPro">Designed the Graphics User Interface for a replica of PacMan game.</p></center>
<br>
<center>Role: Designing</center>
<br>
<center><img src="/images/Project3.jpg" width="500" height="280"><br><br></center>
<center><strong>Auto Clicker</strong><br></center>
<center><p class="parPro">Designed, documented and implemented the clicking tool that lets you click spontaneously without the need to touch the mouse.</p></center>
<br>
<center>Role: Designing, Implementation</center>
<br><br><br><br>
    </div>
<footer>
    <% include partials/bottom_nav.ejs %>
</footer>

<script src = "/jquery/dist/jquery.min.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/Script/app.js"></script> 

</body>
</html>