<!--File Name:services.ejs
    Name: Prajwal
    Student ID 301243308
    Date 20 November 2022-->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header.ejs %>
</head>
<body>
    <header>
        <% include partials/main_nav.ejs %>
    </header>

<!--Main content-->
<main class="container">
<div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title%> page!</h1>
</div>
</main>
<br>
<div style="padding-top: 20px;">
<h2 style="position: absolute; left: 100px">Services:</h2>
<br><br><br>



<img style="position: absolute; left: 100px" src="/images/service1.jpg" height="100px">
<p style="position: absolute; left: 350px">Website Development</p>
<br><br><br><br><br>


<img style="position: absolute; left: 100px" src="/images/service2.jpg" height="100px">
<p style="position: absolute; left: 350px">Android app Development</p>
<br><br><br><br><br>


<img style="position: absolute; left: 100px" src="/images/service3.jpg" height="100px" width="200px">
<p style="position: absolute; left: 350px">Database development</p>
<br><br><br><br><br>


<img style="position: absolute; left: 100px" src="/images/service4.jpg" height="100px">
<<p style="position: absolute; left: 350px">Data Entry</p>
<br><br><br><br><br>


<img style="position: absolute; left: 100px" src="/images/service5.jpg" height="100px">
<p style="position: absolute; left: 350px">Data Analyzing</p>
<br><br><br><br><br><br>

</div>
<footer>
    <% include partials/bottom_nav.ejs %>
</footer>

<script src = "/jquery/dist/jquery.min.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/Script/app.js"></script> 

</body>
</html>