
.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9){
  .back-video{
      width: 100%;
      height: auto%;
  }
}

@media (max-aspect-ratio: 16/9){
  .back-video{
      width: auto%;
      height: 100%;
  }
}


#b1Home{
  padding:8px 24px;
  font-size: 18px;
  font-weight: 100;
  margin:16px 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  border: none;
  background-color: rgb(217, 235, 59);
  color:rgb(1, 1, 1);
  cursor:pointer;
}

.nav-link{
  font-size: 20pt;
}

.container{
  background-color: antiquewhite;
  padding:30px;  
}

.edit{
  margin-left: 20px;
}

#homeContent{
  text-align: center;
  padding-left:100px;
  padding-right: 100px;
  padding-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}


a{
  font-size: large;
 color:black; 

 text-decoration: none; 
}

.profile{
  float: left;
  padding-right: 15px;
  padding-bottom: 20px;
  height: 500px;
  width: 500px;
}

#aboutPara{
  padding-left: 20px;
  padding-right:50px;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{ color:gray; text-decoration: underline;}
a:visited{color:lightblue;}


.parPro{
  margin-left: 100px;
  margin-right: 100px;
  align-items: right;
}


body {  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  background-color: rgb(34, 179, 179);
  background-image: radial-gradient( circle closest-side,rgb(188, 123, 123),rgb(201, 130, 130));
  padding-bottom: 50px;

}

#projectPara{
   width: 80%; margin:0 auto;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16pt;
}

.homeCon{
  margin-top: 10px; 
  padding-top:10px;
  padding-bottom:10px;
  padding-right:20px;
  padding-left:20px;
  color:black;
} 

.nav-link{
  margin-right: 10px;
}


  .homeCon:hover{background-color: black;
  color:white;
text-decoration: none;}

input[type=reset]{
  background-color: rgb(165, 230, 211);   
  margin-top: 10px; 
  padding-top:10px;
  padding-bottom:10px;
  padding-right:20px;
  padding-left:20px;
  box-shadow: 10px white;
}
input[type=reset]:hover{
  background-color: black;
  color:white;
}

#country{
  margin-top:6px;
  margin-bottom:16px;
}
textarea{
  margin-top:6px;
  margin-bottom: 16px;   
  padding:5px; 
}
.fieldset{
  background-color: rgb(141, 141, 141);
  box-shadow: 5px 10px 18px rgb(46, 42, 42);
  width: 70%;
  margin-left:100px; 
  margin-bottom: 40px;
 
}

form{
  padding:30px;
  padding-right: 50px;
  
}

#service{
  
  padding-left: 40px;
}


